{% extends 'shared/index.html' %}
{% block title %}
    Forgot Password
{% endblock %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/forgot-pass.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
{% endblock %}
{% block body %}
    <div class="section">
        <div class="container">
            <div class="row full-height justify-content-center">
                <div class="col-12 text-center align-self-center py-5">
                    <div class="section pb-5 pt-5 pt-sm-2 text-center">
                        <div class="card-3d-wrap mx-auto">
                            <div class="card-3d-wrapper">
                                <form>
                                    <div class="card-front">
                                        <div class="center-wrap">
                                            <div class="section text-center">
                                                <h4 class="mb-4 pb-3">Forgot Password</h4>
                                                <div class="form-group">
                                                    <input type="password" name="logemail" class="form-style"
                                                           placeholder="Your Email" id="logemail" autocomplete="off">
                                                </div>
                                                <a href="#" class="btn1 mt-4">Send Email</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

